*{margin:0;padding:0;}
.clearfix{
    overflow:hidden;
}
.clearfix:after{
    content:'';
    width:0;
    height:0;
    display:block;
    clear:both;
}
img{margin:0;border:0;}
a{text-decoration:none;}
body{
    position:relative;
}
#wrap{
    width:100%;
    overflow:hidden;
    background:url("../images/123.jpg") center bottom;
    background-size: 100%;
}
.box{
    width:100%;
    margin:20px auto;
    overflow:hidden;
}
.fwzx-title{
    font-size:20px;
}
.fwzx-time{
    font-size:30px;
    color:#ccc;
}
#wrap h2,.box h2{
    font-size:30px;
    color:#fff;
    text-align:center;
    padding:40px 0;
}
.box h2{
    margin-bottom:50px;
    color:#000;
}
.box1 li a,#fwzx h2{
    color:#fff;
}
.box2 ul li{
    width:23%;
    text-align:center;
    list-style:none;
    padding:10px 1%;
    margin:10px 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background:#fff;
}
.imgdis{
    display:none;
}
.box2 ul li p{
    font-size:20px;
    width:100%;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
    margin:10px 0;
}
.fl,.box2 ul li{
    float:left;
}
.fr{
    float:right;
}
.w-left,.w-right{
    width:50%;
}
.w-left a,.w-right a{
    width:300px;
    height:100px;
    font-size:30px;
    text-align:center;
    line-height:100px;
    color:#fff;
    margin:30% auto;
    display:block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.w-left a{
    background:#5BB85D;
}
.w-right a{
    background:#418BCA;
}
.swiper-container{
    width:95%;
}
.bigimg{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);
    position:fixed;
    left:0;
    top:0;
    display:none;
    z-index:999;
}
.bigimg p{
    width:30px;
    height:30px;
    text-align:center;
    line-height:25px;
    font-size:40px;
    color:#ff0000;
    background:#fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    float:right;
    margin:20px 20px 0 0;
    cursor:pointer;
}
.bigimg img{
    width:90%;
    display:block;
    margin:2% auto;
}
.box1{
    width:40%;
    text-align:center;
    margin:0 auto;
}
.box1 ul li{
    color:#fff;
    margin:30px 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.box1 ul li a{
    display:block;
    padding:20px 30px;
}
.color1{
     background:#418BCA;
 }
.color2{
    background:#5BB85D;
}
.color3{
    background:#5BC0DE;
}
.color4{
    background:#EFAD4D;
}
.color5{
    background:#D9544F;
}
.color6{
    background:#33FFCC;
}
#floorbox,#fwzx{
    background:url("../img/1bg.JPG") center no-repeat;
    background-attachment: fixed;
    margin:0;
    background-size:cover;
    padding:20px 0;
}

.box-info{
    width:80%;
    margin:0 auto;
    background:rgba(0,0,0,.6);
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.box-info p{
    font-size:20px;
    color:#fff;
    line-height:25px;
    text-indent:40px;
    margin:10px 0;
}
#floorbox h1{
    width:500px;
    font-size:30px;
    color:#fff;
    text-align:center;
    margin:0 auto 50px;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.box2{
    margin-top:30px;
}
#floorbox .bigimg img{
    width:65%;
}
.imgwh img{
    width:100%;
}
.fwzx-info{
    font-size:30px;
    color:#fff;
    position:absolute;
    left:50%;
    bottom:10%;
    margin-left:-380px;
   letter-spacing: 20px;
}
#fwzx .swiper-container p{
    font-size:20px;
    text-align:center;
    color:#fff;
    background:rgba(0,0,0,.5);
    padding:20px 0;
    margin-top:-5px;
}
@media (min-width:320px) and (max-width:768px){
    .w-left a, .w-right a{
        width:100%;
        font-size:20px;
    }
    #floorbox h1{
        width:100%;
    }
    .fwzx-info{
        font-size:20px;
        width:100%;
        text-align:center;
        margin:0;
        left:0;
        letter-spacing: 0;
    }
    .box1,.box-info,#floorbox .bigimg img{
        width:95%;
    }
    #floorbox .bigimg img{
        margin:15% auto;
    }
}